cloudpickle==3.1.1
Farama-Notifications==0.0.4
filelock==3.18.0
fsspec==2025.3.2
gymnasium==1.1.1
imageio==2.37.0
importlib_metadata==8.7.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.2.1
numpy==2.0.2
pillow==11.2.1
pygame==2.6.1
pyrorl==1.0.1
scipy==1.13.1
sympy==1.14.0
torch==2.7.0
typing_extensions==4.13.2
zipp==3.21.0
numpy
matplotlib
scipy
stable_baselines3
# The following packages are required for the code to run